@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
@import 'https://unpkg.com/nes.css@2.3.0/css/nes.min.css';

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home ul {
  padding: 0;
  width: calc(100% - 0.4rem);
  margin: auto;
  list-style: none;
}

.home ul li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.not-badge .is-success {
  color: green;
}
.not-badge .is-error {
  color: red;
}