@import 'https://fonts.googleapis.com/css?family=Press+Start+2P';
@import 'https://unpkg.com/nes.css@2.3.0/css/nes.min.css';

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
